* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about {
  margin-top: 66px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 330px;
}
.about-heading {
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.about-des {
  width: 700px;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
}
.number {
  height: 74px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
}
.number .icon {
  margin-left: 30px;
}
.numbers {
  margin-left: 180px;
  color: orangered;
}
.kodfun {
  display: flex;
  height: 19rem;
  gap: 1rem;
  width: 840px;
}
.hihi {
  display: flex;
  justify-content: center;
  padding: 29px 0;
}
.kodfun > div {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  border-radius: 28px;
}
.kodfun > div:hover {
  flex: 3;
  border-radius: 28px;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: red;
}
